<mdb-carousel [controls]="true" [indicators]="true" [dark]="false">
    <mdb-carousel-item>
      <img
        src="../../assets/code1.jpg"
        class="d-block w-100"
        alt="..."
        height="600"
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>First slide label</h5>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img
        src="../../assets/code2.jpg"
        class="d-block w-100"
        alt="..."
        height="600"
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>Second slide label</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img
        src="../../assets/code3.jpg"
        class="d-block w-100"
        alt="..."
        height="600"
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </mdb-carousel-item>
  </mdb-carousel>
  <br>

  <body>
  <div class="w3-container w3-content w3-center w3-padding-64" id="band">
    <h2 class="w3-wide">About Me</h2>
    <p class="w3-opacity"><i>Kum Jie Wern</i></p>
    <p class="w3-justify">Just a developer that loves backend development and exploring front end to be a better full stack.</p>

  </div>
</body>
