<div class="container" ng-app="myApp">
    <div class="row">
      <div class="col-md-12">
        <div class="page-header">

        </div>
      </div>
      
      <div ui-view></div>
      
    </div>
    <body>
      <div class="col-md-12">
        <h3>Login Page</h3>
        
        <form ng-submit="formSubmit()" class="form">
          <div class="col-md-4">
            <div class="form-group">
              <input type="text" class="form-control"[(ngModel)]="username" name ="username" placeholder="username" required=""/>
            </div> 
  
            <div class="form-group">
              <input type="password" class="form-control" [(ngModel)]="password" name ="password" placeholder="password" required=""/>
            </div>
  
            <div class="form-group">
              <button type="submit" (click)="checkLogin()" class="btn btn-success">Login</button>
              
            </div>
  
          </div>
        </form>
      </div>
    
    </body>
  </div>